// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

&csi2_dphy0_hw {
	status = "disabled";
};

// for og02b1b camera
&csi_dphy0 {
	status = "okay";
	ports {
		port@0 {
			mipi_in_ucam0: endpoint@1 {
				remote-endpoint = <&ucam_out0>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			csidphy0_out: endpoint@0 {
				// remote-endpoint = <&mipi_csi2_input>;
				remote-endpoint = <&isp_in>;
				data-lanes = <1 2>;
			};
		};
	};
};

// for og02b1b camera
&csi_dphy1 {
	status = "disabled";
	ports {
		port@0 {
			csi_dphy1_input: endpoint@1 {
				/delete-property/ remote-endpoint;
				// remote-endpoint = <&ucam_out1>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			csi_dphy1_output: endpoint@0 {
				// remote-endpoint = <&isp_in>;
				/delete-property/ remote-endpoint;
				data-lanes = <1 2>;
			};
		};
	};
};

&csi2_dphy0 {
	status = "disabled";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&ov13850_out2>;
				data-lanes = <1 2>;
			};

			mipi_in_ucam1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ov13855_out2>;
				data-lanes = <1 2>;
			};

			mipi_in_ucam2: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&gc5035_out>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
		        reg = <1>;
		        #address-cells = <1>;
		        #size-cells = <0>;
		        csidphy0_out: endpoint@0 {
		                reg = <0>;
		                remote-endpoint = <&mipi2_csi2_input>;
		        };
		};
	};
};

// for og02b1b camera
&i2c1 {
	status = "okay";
	clock-frequency = <400000>;
	/delete-node/ ar0230@10;
	/delete-node/ ov4689@36;
	/delete-node/ os04a10@36;
	/delete-node/ ov2718@10;
	/delete-node/ gc2053@37;
	
	og02b1b: og02b1b@c0 {
		compatible = "ovti,og02b1b";
		reg = <0xc0>;
		clocks = <&cru CLK_MIPICSI_OUT>;
		clock-names = "xvclk";
		power-domains = <&power RV1126_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipicsi_clk0>;
		avdd-supply = <&vcc_avdd>;
		dovdd-supply = <&vcc_dovdd>;
		dvdd-supply = <&vcc_dvdd>;
		pwdn-gpios = <&gpio1 RK_PD6 GPIO_ACTIVE_HIGH>;
        	reset-gpios = <&gpio1 RK_PD7 GPIO_ACTIVE_LOW>;  
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "HK301";
		rockchip,camera-module-lens-name = "JZ-7070BS-A2-M8";
		ir-cut = <&cam_ircut0>;
		port {
			ucam_out0: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2>;
			};
		};
	};
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3m0_xfer>;

	vm149c_p1: vm149c-p1@c {
		compatible = "silicon touch,vm149c";
		status = "disabled";
		reg = <0x0c>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
	};

	ov13850_1: ov13850-1@10 {
		compatible = "ovti,ov13850";
		status = "disabled";
		reg = <0x10>;
		clocks = <&cru CLK_MIPI_CAMARAOUT_M3>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&mipim1_camera3_clk>;
		reset-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-CT0116";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&vm149c_p1>;
		port {
			ov13850_out2: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2>;
			};
		};
	};

	dw9714_p1: dw9714-p1@c {
		compatible = "dongwoon,dw9714";
		status = "disabled";
		reg = <0x0c>;
		rockchip,camera-module-index = <0>;
		rockchip,vcm-start-current = <10>;
		rockchip,vcm-rated-current = <85>;
		rockchip,vcm-step-mode = <5>;
		rockchip,camera-module-facing = "back";
	};

	ov13855_1: ov13855-1@36 {
		compatible = "ovti,ov13855";
		status = "disabled";
		reg = <0x36>;
		clocks = <&cru CLK_MIPI_CAMARAOUT_M3>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&mipim1_camera3_clk>;
		reset-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2016-FV1";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&dw9714_p1>;
		port {
			ov13855_out2: endpoint {
				remote-endpoint = <&mipi_in_ucam1>;
				data-lanes = <1 2>;
			};
		};
	};

	gc5035: gc5035@37 {
		compatible = "galaxycore,gc5035";
		status = "okay";
		reg = <0x37>;
		clocks = <&cru CLK_MIPI_CAMARAOUT_M3>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&mipim1_camera3_clk>;

		//reset pin control by hardware,used this pin switch to mipi input
		//0->FRONT camera, 1->REAR camera
		reset-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "XHG-RKX11F-V5";
		rockchip,camera-module-lens-name = "HR232H65";
		port {
			gc5035_out: endpoint {
				remote-endpoint = <&mipi_in_ucam2>;
				data-lanes = <1 2>;
			};
		};
	};
};

// for og02b1b camera

&mipi_csi2 {
	status = "disabled";
	ports {
		port@0 {
			mipi_csi2_input: endpoint@1 {
				// remote-endpoint = <&csidphy0_out>;
				/delete-property/ remote-endpoint;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			mipi_csi2_output: endpoint@0 {
				// remote-endpoint = <&cif_mipi_in>;
				/delete-property/ remote-endpoint;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};


&mipi2_csi2 {
	status = "disabled";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			mipi2_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy0_out>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			mipi2_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in2>;
			};
		};
	};
};

// for og02b1b camera
&rkcif_mipi_lvds {
	status = "disabled";
	port {
		cif_mipi_in: endpoint {
			// remote-endpoint = <&mipi_csi2_output>;
			/delete-property/ remote-endpoint;
			data-lanes = <1 2 3 4>;
		};
	};
};

&rkcif_mipi_lvds2 {
	status = "disabled";
	port {
		cif_mipi_in2: endpoint {
			remote-endpoint = <&mipi2_csi2_output>;
		};
	};
};

// for og02b1b camera
&rkcif_mipi_lvds_sditf {
	status = "disabled";

	port {
		cif_sditf: endpoint {
			// remote-endpoint = <&isp_virt1_in>;
			/delete-property/ remote-endpoint;
			data-lanes = <1 2 3 4>;
		};
	};
};

&rkcif_mipi_lvds2_sditf {
	status = "disabled";
	port {
		mipi2_lvds_sditf: endpoint {
			remote-endpoint = <&isp0_vir1>;
		};
	};
};

// for og02b1b camera
&rkisp_vir0 {
	ports {
		port@0 {
			isp_in: endpoint@0 {
				// remote-endpoint = <&csi_dphy1_output>;
				remote-endpoint = <&csidphy0_out>;
			};
		};
	};
};

// for og02b1b camera
&rkisp_vir1 {
	status = "disabled";
	ports {
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			isp_virt1_in: endpoint@0 {
				reg = <0>;
				// remote-endpoint = <&cif_sditf>;
				/delete-property/ remote-endpoint;
			};
		};
	};
};

&rkisp0_vir1 {
	status = "disabled";
	port {
		#address-cells = <1>;
		#size-cells = <0>;
		isp0_vir1: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi2_lvds_sditf>;
		};
	};
};

// for og02b1b camera
&rkispp_vir1 {
	status = "disabled";
};

// for og02b1b camera
&rkispp {
	status = "okay";
	/* the max input w h and fps of mulit sensor */
	max-input = <1600 1300 60>;
};
